* {
  box-sizing: border-box;
}


.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon{
  width: 15px;
  height: 15px;
  transition: 0.3s;
  cursor: pointer;
 
}

.icon_active {
  transform: rotateZ(180deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width:768px) {
  .icon{
    width: 30px;
    height: 30px;
}
}

@media (min-width:1024px) {
  .icon{
    width: 20px;
    height: 20px;
}
}

@media (min-width:1280px) {
  .icon{
    width: 25px;
    height: 25px;
}
}
