@tailwind base;

@font-face {
  font-family: 'Exo';
  src: url('./components//Exo\,Josefin_Sans\,Nunito_Sans/Exo/Exo-Italic-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if available */
}
@font-face {
  font-family: 'Exo';
  src: url('./components//Exo\,Josefin_Sans\,Nunito_Sans/Exo/Exo-VariableFont_wght.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if available */
}
@font-face {
  font-family: 'Nunito_Sans';
  src: url('./components/Exo\,Josefin_Sans\,Nunito_Sans/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) if available */
}

@tailwind components;
@tailwind utilities;